<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Doctor Schedule</title>
</head>
<body>
<h1>Doctor Schedule</h1>
<h1 th:text="${doctor.name + ' ' + doctor.surname + ' ' + doctor.title}"></h1>
<ul th:each="workingHours : ${workingHoursList}">
  <li>
    <h3 th:text="${workingHours.dayOfWeek.name}"></h3>
    <p th:text="'Working hours: ' + ${workingHours.startTime} + ' - ' + ${workingHours.endTime}"></p>
    <p>Appointment times:</p>
    <ul>
      <li th:each="time : ${workingHours.appointmentTimes}" th:text="${time}"></li>
    </ul>
  </li>
</ul>
</body>
</html>
