<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj opinię</title>
</head>
<body>
<h2>Dodaj opinię</h2>
<form action="/clinic/opinions/zapisz" method="post">

  <div>
    <label>Id pacjenta:</label>
    <label>
      <input type="text" name="patientId" th:field="*{patient}">
    </label>
  </div>

  <div>
    <label>Id lekarza:</label>
    <label>
      <input type="text" name="doctorId" th:field="*{doctor}">
    </label>
  </div>

  <div>
    <label>Komentarz:</label>
    <label>Komentarz:
      <textarea name="comment" rows="4" cols="50"></textarea>
    </label>
  </div>

  <!-- dodaj inne pola opinii -->
  <button type="submit">Dodaj</button>
</form>
</body>
</html>
