<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Specializations</title>

    <style>
    .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
        .header-logo {
            flex-grow: 1;
        }
        .header-logo img {
            max-width: 30%;
            height: auto;
        }
        .footer {
            text-align: center;
            margin-top: 30px;
        }
  </style>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="header-logo">
            <!-- Tutaj wstaw kod dla logo -->
            <img th:src="@{/images/2135.jpg}" alt="Logo">
        </div>
        <!-- Możesz dodać dodatkowe elementy w nagłówku -->
        <a th:href="@{/}" class="btn btn-info" role="button">Powrót do strony głównej</a>

    </div>

    <h1 class="mt-5 mb-4">List of Specializations</h1>
    <div class="list-group">
        <!-- Loop through the specializations and display them as list items with links -->
        <a th:each="specialization : ${specializations}"
           th:href="@{/doctors/specialization/__${specialization.toLowerCase()}__}"
           class="list-group-item list-group-item-action">
            <span th:text="${specialization}"></span>
        </a>
    </div>

    <div class="footer">
        <!-- Tutaj wstaw kod dla stopki -->
        <p>© 2023 Twoja Stopka</p>
    </div>

</div>

</body>
</html>
