<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous">

  <title>Dane lekarza</title>

</head>
<body>
<div th:id="'doctor-details-' + ${doctor.id}">
  <h2>Doctor Details</h2>
  <p>ID: <span th:text="${doctor.id}"></span></p>
  <p>Name: <span th:text="${doctor.name}"></span></p>
  <p>Title: <span th:text="${doctor.title}"></span></p>
</div>

<script th:inline="javascript">
    var doctor = [[${doctor}]];
  </script>
</body>
</html>
